img{
    height: 200px;
    width: 300px;
    
}
p{
    font-size: 20px;
    padding-left: 70px;

}
div{
    display: inline-block;
    padding: 10px;
    height: 100%;
}
.form{
    display: inline-table;
    text-align: center;
    text-shadow: 50px;
    
}
